.booking-form-container {
  position: relative; 
  max-width: 400px;
  margin: 0 auto;
  margin-top: 7%;
  padding: 20px;
  border: 2px solid #333;
  border-top-color: #7fc142;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-header {
  position: relative;
}

.booking-form-container h2 {
  margin-bottom: 20px;
}

.booking-form-container input[type="text"],
.booking-form-container input[type="email"],
.booking-form-container input[type="tel"],
.booking-form-container input[type="date"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking-form-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7fc142;
  color: #fff;
  cursor: pointer;
}

.booking-form-container button:hover {
  background-color: #7fc142;
  
}

.booking-form-container .close-button-book {
  position: absolute;
  top: 10px;
  left: 255px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.booking-form-container .close-button-book:hover {
  color: #f9f9f9;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.room-details {
  margin-bottom: 20px;
}

.booking-input {
  margin-bottom: 10px;
}

.booking-button {
  margin-top: 10px;
 
}
